@using AirportSystem.Models.DTO
@using GridMvc.Html
@model List<FlightDTO>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>Schedule</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Arrivals</h3>
            </div>
            <div class="panel-body">                
                @Html.Grid(Model.Where(x => x.FlightType == "Arrivals")).Columns(columns =>
                {
                    columns.Add(f => f.SheduledTime.TimeOfDay).Titled("Time").SetWidth(50);                    
                    columns.Add(f => f.DestinationAirportName).Titled("Destination").SetWidth(100);
                    columns.Add(f => f.Airline).Titled("Airline").SetWidth(100);
                    columns.Add(f => f.PlaneModel).Titled("Plane").SetWidth(50);
                }).WithPaging(10)
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Departures</h3>
            </div>
            <div class="panel-body">
                @Html.Grid(Model.Where(x => x.FlightType == "Departures")).Columns(columns =>
                {
                    columns.Add(f => f.SheduledTime.TimeOfDay).Titled("Time").SetWidth(50);
                    columns.Add(f => f.DestinationAirportName).Titled("Destination").SetWidth(100);
                    columns.Add(f => f.Airline).Titled("Airline").SetWidth(100);
                    columns.Add(f => f.PlaneModel).Titled("Plane").SetWidth(50);
                }).WithPaging(10)
            </div>
        </div>
                   
    </div>    
</div>