@using AirportSystem.Models
@using GridMvc.Html
@model List<Flight>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h1>Schedule</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Arrivals</h3>
            </div>
            <div class="panel-body">                
                @Html.Grid(Model.Where(x => x.FlightType.Name == "Arrivals")).Columns(columns =>
                {
                    columns.Add(f => f.SheduledTime.TimeOfDay).Titled("Time").SetWidth(20);                    
                    columns.Add(f => f.DestinationAirport.Name).Titled("Destination").SetWidth(200);
                    columns.Add(f => f.Plane.Airlines.Name).Titled("Airline").SetWidth(200);
                    columns.Add(f => f.Plane.Manufacturers.Name)
                        .RenderValueAs(f => f.Plane.Manufacturers.Name + " " + f.Plane.Models.Name)
                        .Titled("Plane").SetWidth(200);
                    columns.Add(f => f.ActualTime).RenderValueAs(f => f.ActualTime != null ? "Flying" : "Landed").Titled("Status").SetWidth(100);
                }).WithPaging(10).EmptyText("No flights for this day")
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Departures</h3>
            </div>
            <div class="panel-body">
                @Html.Grid(Model.Where(x => x.FlightType.Name == "Departures")).Columns(columns =>
           {
               columns.Add(f => f.SheduledTime.TimeOfDay).Titled("Time").SetWidth(20);
               columns.Add(f => f.DestinationAirport.Name).Titled("Destination").SetWidth(200);
               columns.Add(f => f.Plane.Airlines.Name).Titled("Airline").SetWidth(200);
               columns.Add(f => f.Plane.Manufacturers.Name)
                        .RenderValueAs(f => f.Plane.Manufacturers.Name + " " + f.Plane.Models.Name)
                        .Titled("Plane").SetWidth(200);
               columns.Add(f => f.ActualTime).RenderValueAs(f => f.ActualTime != null ? "Departed" : "On Ground").Titled("Status").SetWidth(100);
           }).WithPaging(10).EmptyText("No flights for this day")
            </div>
        </div>
                   
    </div>    
</div>